body{
    margin: 0;
    font-family: sans-serif;
    /* font-size: 30px; */
}
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    padding: 10px; 
}
.nav-menu{
    transition: color 0.5s, border-bottom 4s;
}
.nav-menu li a:hover{
    
    color: lightgray;
    border-bottom: 1px solid white;
}
.text-center{
    text-align: center;
}

#social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3); 
}

section{
    width: 100%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}

section:nth-child(2n+1){
    background-color: white;
}

section:target{
    background-color: cyan; 
}


.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding: 10px;
    margin-right: 0.5rem;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
#about-para{
    padding: 10vh;
    width: 50%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;

}

/* .mb75px{
    margin-bottom: 75px;
} */

.text-higlight{
    color: blue;
    font-weight: bold;
}

/* skills  */

.skills-display{
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    /* height: auto; */
    /* border: 2px solid black;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}



.skill-progress{
    height: 1.4rem;
    width: 7rem;
    margin: 20px;
    /* border: 1px solid black; */
    box-shadow: inset 1px 1px 2px 1px #b9b9b9;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: lightgray;
}
/* .skill-progress>div{
    border-radius: 20px 0px 0px 20px;
} */

.skill-name {
    font-size: 15px;
    color: white;
    padding: 6px 0 10px 20px;   
}
.skill-name span{
    margin: 0;
}

/* timeline */
.timeline{
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 145px;
    /* border: 2px solid black; */
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-box:nth-child(2n+1):after{
    content: "";
    position: absolute;
    top: 30%;
    right: -12.9%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n):after{
    content: "";
    position: absolute;
    top: 30%;
    left: -9%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    border-radius: 50%;
    z-index: 1;
}

.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed lightblue;
    top: 10%;
    left: 50%;
}

@media screen and (max-width: 600px){
    .timeline-divider{
        left: 5%;
    }
    .timeline-box{
        left: 12% !important;
        width: 80%;
    }

    .timeline-box:nth-child(2n+1):after{
        left: -10.8%;
        top: 25%;
    }
    .timeline-box:nth-child(2n):after{
        left: -10.8%;
    }

    html{
        font-size: 15px;
    }

    #social-container{
        margin-top: 10vh;
    }

    /* #body-header{ */
        /* height: 50vh; */
    /* } */
    



    /* .timeline-box:nth-child(2n){
        left: 12%;
    } */
}

.timeline-traveller{
    position: sticky;
    top: 20%;
    transform: rotate(90deg) ;
    color: #2857a4;
    font-size: 30px;
    z-index: 2;

}

.timeline-traveller i{
    margin-top: -20px;
}

/* content of experience and education  */
.university i {
    position: relative;
    top: 30px;
    font-size: 30px;
}
.detail span{
    /* display: block; */
    position: relative;
    top: 0;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row-reverse;

}

.detail #st1{
    color: #2857a4;
    font-weight: 550;
    font-size: 1rem;
}

.detail #nd2{
    color: orange;
    font-size: 0.7rem;
    font-weight: 400;
}

.detail #rd3{
    color: lightgray;

}

.detail p{
    font-size: 1rem;
    color: gray;
}

/* portfolio-container  */

#portfolio-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img{
    width: 100%;
    height: 100%;
}

.project-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.project-details p{
    font-size: 30px;
}

.portfolio-image-container:hover{
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .project-details{
    background-color: #80808078;
    color: white;
}

/* contact Form */

#contact{
    background-color: lightblue;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
}
#contact h1,
#contact h1 span{
    color: white;
}
#contact-form{
    margin-left: 20%;
}

#contact-container{
    display: flex;
    
}
#my-detail-container{
    width: 35%;
    margin-left: 6%;
    /* border: 2px solid white; */
}

#my-detail-container h3{
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-detail-container p{
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-detail-info-container{
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-detail-info-container span{
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-detail-info-container i{
    color: white;
}

.my-detail-icon{
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#contact-form input,
textarea{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"]{
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#contact-form button:hover{
    background: white;
    color: #13386fe0;
}

input:focus,
select:focus,
textarea:focus,
button:focus{
    outline: none;
}


/* color  */
.mb-blue{
    background-color: #2857a4;
}

.mb-orange{
    background-color: orange;
}
.mb-green{
    background-color: green;
}
/* percentage classes */

.eighty-five-perc {
    width: 85%;
    height: inherit;
}
.seventy-perc{
    width: 70%;
    height: inherit;
}
.eighty-perc{
    width: 80%;
    height: inherit;
}







